[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
werkzeug = "*"
gunicorn = "*"
faker = "*"
sqlalchemy-serializer = "*"
flask-cors = "*"
flask-jwt-extended = "*"
psycopg2-binary = "*"
pyjwt = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.12"
